<?xml version="1.0" encoding="UTF-8"?>
<Uzstādījumi darbaCeļš="" Minēt_vārdus_pēc_galotnes="false" Minēt_īpašības_vārdus="false" leksikonaCeļš="Lexicon.xml" Rādīt_kastes="nerādīt" Minēt_lietvārdus="false" darbaFails="Sofija utf8.txt" Atļaut_vokatīvu="false" Minēt_divdabjus="false" Minēt_darbības_vārdus="false"/>